services:
  ai-api:
    build: .
    container_name: ai-api
    ports:
      - "3000:8000"
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data: